
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="wiki/encyclopedia/static/encyclopedia/styles.css" rel="stylesheet">
        <script src="wiki/encyclopedia/static/js/bootstrap.min.js"></script>
        <script src="wiki/encyclopedia/static/js/jquery-3.6.0.min.js"></script>
        <script src="wiki/encyclopedia/static/js/addEventListener.js"></script>
    </head>
    <body>
       333
    </body>
</html>